.avdragsoversikt {
    border: 2px solid rgb(242, 169, 0);
    background-color: lightgrey;
    text-align: center;
}

fieldset#frekvens_feltsett>div {
    display: flex;
    flex-direction: row;
    align-items: end;
}

fieldset#frekvens_feltsett>div>div {
    flex: 1;
    margin: 0 1rem 1rem 1rem;
}

input[name="forfallspåminnelse_ant_dager"] {
    width: 10rem;
}

fieldset#frekvens_feltsett .totalbeløp {
    display: block;
    background-color: #eeeeee;
    padding: 1rem;
    margin-bottom: 2rem;
}

table#plantabell.dataTable thead th.beløp {
    text-align: right;
}