/*  ----------------------------------------------------------------

    1. Custom Properties
    2. Template Styles
    *   2.2 Buttons
    3. Header
    *   3.1 Main Menu Toggle
    *   3.2 Brukermeny Toggle
    *   3.3 Varsler
    4. Main Content
    *   4.1 Breadcrumbs
    5. Navigation
    *   5.1 Sidebar Menu
    *   5.2 User Menu
    *   5.3 Menu Overlay
    *   5.4 Navigation buttons
    6. Forms and input
    *   6.1 Collapsible Section
    *   6.2 Select2
    *   6.3 CKEditor
    7. DataTables
    8. ExtJs
    *   8.1 Prevent ExtJs overrides outside ExtJs
    *   8.2 Reinstate ExtJs styling which has been overridden
    9. Bootstrap
    *   9.1 Corrections for bootstrap
    10. Page specific and custom styling
    *   10.1 Kostnadsdeling
    *   10.2 Utleietabell

    ---------------------------------------------------------------- */


/* --------------------------------------------------------------------------------
    1. Custom Properties
/* -------------------------------------------------------------------------------- */

:root {
    --lys-bakgrunn: #FFFFFF;
    --mørk-bakgrunn: #333333;
    --temafarge1: #E52D2D;
    --lys-tekst: #FFFFFF;
    --knappfarge: #cc2828;
    --knappfarge-aktiv: #333333;
    --lenke1: #cc2828;
}

/* --------------------------------------------------------------------------------
    2. Template Styles
--------------------------------------------------------------------------------- */

*, *::before, *::after {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /*word-break: break-word;*/
}

* {
    margin: 0;
}

html {
    font-size: 100%; /* 1rem = 16px */
}

body {
    background: #fff;
    box-sizing: border-box;
    font-family: calibri, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    /*font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;*/
    text-align: left;
    font-weight: 300;
    color: #1A1B1F;
    display: block;
}

a { color: var(--lenke1); text-decoration: none; transition: all .3s; font-weight: 400;}
a:hover, a:focus { color: var(--lenke1); text-decoration: none; }
::-moz-selection { background: var(--lenke1); color: #fff; text-shadow: none; }
::selection { background: var(--lenke1); color: #fff; text-shadow: none; }

strong {font-weight: 500;}

h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

h1, h2, h3, h4, h5, h6, th, strong {
    color: #765;
    font-weight: 500;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2 { margin-top: 10px; font-size: 2rem; font-weight: 300; line-height: 3; }
h3 { font-size: 1.375rem; font-weight: 300; line-height: 2; }
h4 { font-size: 1.125rem; font-weight: 300; line-height: 1.6; }

blockquote::before,
blockquote::after {
    content: "";
}

input, button, textarea {
    font: inherit;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

img { max-width: 100%; }

/* Remove field type input Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 575px) {

    h1, h2 { font-size: 22px; }
    h3 { font-size: 18px; }

}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.border-x {
    border-left: 1px;
    border-right: 1px;
}

/* --------------------------------------------------------------------------------
    *   2.2 Buttons
--------------------------------------------------------------------------------- */

a.btn-customized {
    margin-left: 5px; margin-right: 5px; padding: .75rem 1.5rem;
    background: var(--temafarge1); border: 0; border-radius: 4px;
    font-size: 16px; font-weight: 300; color: #fff; box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0; background: #cd533d; background: rgba(243, 91, 63, 0.7); border: 0; color: #fff; box-shadow: none;
}

a.btn-customized-2 {
    margin-left: 5px; margin-right: 5px; padding: .75rem 1.5rem;
    background: #fff; border: 0; border-radius: 4px;
    font-size: 16px; font-weight: 300; color: #555; box-shadow: none;
}

a.btn-customized-2:hover,
a.btn-customized-2:active,
a.btn-customized-2:focus,
a.btn-customized-2:active:focus,
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0; background: #ccc; background: rgba(255, 255, 255, 0.5); border: 0; color: #555; box-shadow: none;
}

a.btn-customized-3 {
    display: inline-block; width: 100%; margin: 0; padding: .75rem 1.5rem;
    background: #444; border: 0; border-radius: 4px;
    font-size: 16px; font-weight: 300; color: #fff; box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0; background: #555; border: 0; color: #fff; box-shadow: none;
}

a.btn-customized i,
a.btn-customized-2 i,
a.btn-customized-3 i { margin-right: 5px; }


a.btn-customized-4 {
    display: inline-block; width: 28px; height: 28px; margin: 0 3px; padding: 0;
    background: #444; border: 0; border-radius: 50%;
    font-size: 16px; font-weight: 300; color: #fff; box-shadow: none; text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark { background: #222; }
a.btn-customized-4.btn-customized-light { background: #fff; }

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0; background: #555; border: 0; color: #fff; box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0; background: #555; border: 0; color: #fff; box-shadow: none;
}


/* --------------------------------------------------------------------------------
    2.2 Divider
/* --------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------
    3. Header
/* -------------------------------------------------------------------------------- */

header#leiebasen-header ,
header#drift-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    height: 48px;
    width: 100%;
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    border-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    z-index: 999;
    transition:
            background-color 0.5s,
            color 0.5s;
    border-bottom: 0.5px solid var(--mørk-bakgrunn);
}

header#leiebasen-header:hover ,
header#drift-header:hover {
    background-color: var(--mørk-bakgrunn);
    color: var(--temafarge1);
}

header#leiebasen-header .right-header ,
header#drift-header .right-header {
    display: flex;
    align-items: center;
}

header#leiebasen-header .brukernavn ,
header#drift-header .brukernavn {
    display: none;
    margin-left: 1rem;
}
/* Breakpoints: 640, *768*, 841, *960*, 1024, 1265 px */
@media ( min-width: 768px ) {
        header#leiebasen-header div.bruker .brukernavn,
        header#drift-header div.bruker .brukernavn {
        display: block;
    }
}

/* --------------------------------------------------------------------------------
    *   3.1 Main Menu Toggle
/* -------------------------------------------------------------------------------- */

.hovedmeny-toggle {
    width: auto;
    color: inherit;
    position: absolute;
    top: 12px;
    left: 30px;
}

.hovedmeny-toggle .bars {
    height: 1.4rem;
    position: relative;
    width: 2rem;
    display: table;
}

.hovedmeny-toggle .bar {
    background: currentColor;
    display: block;
    height: .25rem;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
}

.hovedmeny-toggle .bar:nth-child(1) { margin-top: -.6rem; }
.hovedmeny-toggle .bar:nth-child(3) { margin-top: 0.6rem; }

/* --------------------------------------------------------------------------------
    *   3.2 Brukermeny Toggle
/* -------------------------------------------------------------------------------- */

header#leiebasen-header div.bruker ,
header#drift-header div.bruker {
    height: 100%;
    padding: 8px 20px;
    margin-right: 20px;
}

header#leiebasen-header div.bruker:hover path,
header#drift-header div.bruker:hover path,
header#leiebasen-header div.bruker:hover * ,
header#drift-header div.bruker:hover * {
    color: white;
    transition: all 0.5s;
}

header#leiebasen-header div.bruker .brukermenyknapp:before ,
header#drift-header div.bruker .brukermenyknapp:before {
    height: 24px;
    width: 24px;
    font-size: 30px;
    line-height: 8px;
    content: "\2304";
    margin-left: 5px;
}

/* --------------------------------------------------------------------------------
    *   3.3 Varsler
/* -------------------------------------------------------------------------------- */

header .right-header .varsler {
    display: inline-block;
    position: relative;
}

header .varsler.utløst .varselmenyknapp::after {
    background-color: #ff3333;
    border-radius: 50%;
    content: "";
    display: block;
    height: 0.5rem;
    position: absolute;
    right: 0;
    top: -0.1rem;
    width: 0.5rem;
}

#varselmeny {
    position: absolute;
    right: -60px;
    top: 3rem;
    width: 20rem;
    max-height: 70vh;
    background-color: var(--lys-bakgrunn);
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.25);
    padding: 1rem;
    overflow: scroll;
    display: none;
}

header#leiebasen-header:hover #varselmeny ,
header#drift-header:hover #varselmeny {
    color: initial;
}

#varselmeny.active {
    display: block;
}

#varselmeny ul li {
    margin-bottom: 1rem;
}

#varselmeny ul li .oppsummering {
    font-weight: bold;
}

#varselmeny ul li.orientering .oppsummering {
    padding-left: 1.5rem;
    background-image: url("/pub/media/bilder/drift/tegnestift.png");
    background-repeat: no-repeat;
    background-size: 2rem;
}

#varselmeny ul li.alarm .oppsummering,
#varselmeny ul li.advarsel .oppsummering {
    padding-left: 2.4rem;
    background-image: url("/pub/media/bilder/drift/advarsel.png");
    background-repeat: no-repeat;
    background-size: 2rem;
    min-height: 2.2rem;
}

/* --------------------------------------------------------------------------------
    4. Main Content
/* -------------------------------------------------------------------------------- */

main#site-content {
    padding-top: 50px;
    overscroll-behavior: none;
    overflow: hidden; /*Not so sure though, experiment*/
    transition: margin-left 0.5s;
}

#fixed-footer {
    padding-top: .5rem;
}

/* Breakpoints: 640, *768*, 841, *960*, 1024, 1265 px */
@media ( min-width: 640px ) {
    body:has(.full-page-dt),
    body:has(#fixed-footer) {
        overflow-y: hidden;
    }

    #scrollable-area {
        overflow: auto;
        height: calc(100vh - 73px);
    }

    /* Adjustment for pages with full-page DataTable */
    #scrollable-area:has(.full-page-dt) {
        height: auto;
    }

    *:has(> #fixed-footer) > #scrollable-area {
        height: calc(100vh - 120px);
    }
}

/* --------------------------------------------------------------------------------
    *   4.1 Breadcrumbs
/* -------------------------------------------------------------------------------- */

.breadcrumbs {
    margin: 0 30px 2px;
    height: 20px;
    overflow: hidden;
    display: none;
    padding: 0 4px;
}

.breadcrumbs a {
    direction: rtl;
    text-align: center;
    flex-basis: auto;
    /*flex-grow: 1;*/
    flex-shrink: 1;
    background-color: #f1f1f1;
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 3px;
    padding: 1px 14px 0 20px;
    background-image: url("/pub/media/bilder/drift/TriangleArrow-Right.svg");
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: 4px 2px;
}

.breadcrumbs a.root {
    display: none;
}

/* Breakpoints: 640, *768*, 841, *960*, 1024, 1265 px */
@media ( min-width: 640px ) {
    .breadcrumbs {
        display: flex;
    }
}

/* --------------------------------------------------------------------------------
    5. Navigation
/* -------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------
    *   5.1 Sidebar Menu
/* -------------------------------------------------------------------------------- */

.sidebar {
    width: 250px; height: 100vh; position: fixed; top: 0; left: -255px; z-index: 999;
    background: var(--mørk-bakgrunn); color: #fff; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
    line-height: 2;
}

.sidebar.active { left: 0; }

.sidebar li.level-2 a {
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dismiss {
    width: 35px; height: 35px; position: absolute; top: 10px; right: 10px; transition: all .3s;
    background: #444; border-radius: 4px; text-align: center; line-height: 35px; cursor: pointer;
}

.dismiss:hover, .dismiss:focus { background: #555; color: #fff; }

.sidebar .logo {
    color: white;
    padding: 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar .logo a {
    display: inline-block;
    height: 100px;
    width: 100%;
    background-image: url(/pub/custom/logo/sidebar/logo-light-landscape.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0;
    text-indent: -999999px;
    transition: none;
}

.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar ul li.nåværende {
    border-left: 2px var(--knappfarge) solid;
}
.sidebar ul li a {
    display: block; padding: 10px 20px;
    border: 0; color: #fff;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { outline: 0; background: #555; color: #fff; }

.sidebar ul li.group a { padding-top: 30px; }

.sidebar ul li a i { margin-right: 5px; }

.sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a { background: #444; padding-left: 30px; font-size: 14px; }

.sidebar ul ul li.active > a { background: #555; }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top { padding: 20px; text-align: center; }

.sidebar .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center; }

/* sidebar light */

.sidebar.light { background: #fff; color: #888; }

.sidebar.light .dismiss { background: #ddd; color: #888; }

.sidebar.light .dismiss:hover,
.sidebar.light .dismiss:focus { background: #ccc; color: #888; }

.sidebar.light .logo { border-color: #eee; }
.sidebar.light .logo a {
    background-image: url(/pub/custom/logo/sidebar/logo-light-landscape.svg);
}

.sidebar.light ul.menu-elements { border-color: #eee; }

.sidebar.light ul li a { color: #888; }

.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active > a:hover,
.sidebar.light ul li.active > a:focus { background: #ccc; color: #888; }

.sidebar.light ul li.active > a, .sidebar.light a[aria-expanded="true"] {
    background: #ddd;
    color: #888;
}

.sidebar.light ul ul a { background: #ddd; }

.sidebar.light ul ul li.active > a { background: #ccc; }

.sidebar.light a.btn-customized-3 { background: #ddd; color: #888; }

.sidebar.light a.btn-customized-3:hover,
.sidebar.light a.btn-customized-3:active,
.sidebar.light a.btn-customized-3:focus,
.sidebar.light a.btn-customized-3:active:focus,
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc; color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-dark { background: #555; }
.sidebar.light a.btn-customized-4.btn-customized-light { background: #eee; }

.sidebar.light a.btn-customized-4.btn-customized-dark:hover,
.sidebar.light a.btn-customized-4.btn-customized-dark:active,
.sidebar.light a.btn-customized-4.btn-customized-dark:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc; color: #fff;
}

.sidebar.light a.btn-customized-4.btn-customized-light:hover,
.sidebar.light a.btn-customized-4.btn-customized-light:active,
.sidebar.light a.btn-customized-4.btn-customized-light:focus,
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc; color: #fff;
}

.sidebar footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 250px;
    font-size: small;
}

/* Breakpoints: 640, *768*, 841, *960*, 1024, 1265 px */
@media only screen and (min-width: 960px) {
    main#site-content {
        margin-left: 250px;
    }
    .sidebar {
        left: 0;
        box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.1);
    }
    .sidebar .dismiss {
        display: none;
    }
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    /* logo */
    .sidebar .logo a {
        background-image: url(/pub/custom/logo/sidebar/logo-dark-landscape.svg); background-repeat: no-repeat; background-size: contain;
    }

    .sidebar.light .logo a {
        background-image: url(/pub/custom/logo/sidebar/logo-light-landscape.svg); background-repeat: no-repeat; background-size: contain;
    }

}

/* --------------------------------------------------------------------------------
    *   5.2 User Menu
/* -------------------------------------------------------------------------------- */

nav.brukermeny {
    position: absolute;
    top: -100vh;
    right: 20px;
    width: 250px;
    z-index: 999;
    background: var(--mørk-bakgrunn);
    color: #fff;
    transition: all .5s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
    max-height: calc(100vh - 50px);
    line-height: 2;
}

nav.brukermeny.active {
    top: 48px;
}

nav.brukermeny .menyhode {
    padding: 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
    text-align: center;
}

nav.brukermeny .menyhode h3 {
    color: var(--temafarge1);
    font-weight: 500;
}

nav.brukermeny ul.menu-elements { padding: 10px 0; border-bottom: 1px solid #444; transition: all .3s; }

nav.brukermeny ul li a {
    display: block;
    padding: 10px 20px;
    border: 0; color: #fff;
}
nav.brukermeny ul li a:hover,
nav.brukermeny ul li a:focus,
nav.brukermeny ul li.active > a:hover,
nav.brukermeny ul li.active > a:focus { outline: 0; background: #555; color: #fff; }

nav.brukermeny ul li.group a { padding-top: 30px; }

nav.brukermeny ul li a i { margin-right: 5px; }

nav.brukermeny ul li.active > a, a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

nav.brukermeny ul ul a { background: #444; padding-left: 30px; font-size: 14px; }

nav.brukermeny ul ul li.active > a { background: #555; }

nav.brukermeny a[data-toggle="collapse"] {
    position: relative;
}

nav.brukermeny .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

nav.brukermeny .to-top { padding: 20px; text-align: center; }

nav.brukermeny .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center; }

/* sidebar light */

nav.brukermeny.light { background: #fff; color: #888; }

nav.brukermeny.light .dismiss { background: #ddd; color: #888; }

nav.brukermeny.light .dismiss:hover,
nav.brukermeny.light .dismiss:focus { background: #ccc; color: #888; }

nav.brukermeny.light .logo { border-color: #eee; }
nav.brukermeny.light .logo a { background-image: url(/pub/custom/logo/sidebar/logo-light-landscape.svg); }

nav.brukermeny.light ul.menu-elements { border-color: #eee; }

nav.brukermeny.light ul li a { color: #888; }

nav.brukermeny.light ul li a:hover,
nav.brukermeny.light ul li a:focus,
nav.brukermeny.light ul li.active > a:hover,
nav.brukermeny.light ul li.active > a:focus { background: #ccc; color: #888; }

nav.brukermeny.light ul li.active > a, nav.brukermeny.light a[aria-expanded="true"] {
    background: #ddd;
    color: #888;
}

nav.brukermeny.light ul ul a { background: #ddd; }

nav.brukermeny.light ul ul li.active > a { background: #ccc; }

nav.brukermeny.light a.btn-customized-3 { background: #ddd; color: #888; }

nav.brukermeny.light a.btn-customized-3:hover,
nav.brukermeny.light a.btn-customized-3:active,
nav.brukermeny.light a.btn-customized-3:focus,
nav.brukermeny.light a.btn-customized-3:active:focus,
nav.brukermeny.light a.btn-customized-3.active:focus,
nav.brukermeny.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
nav.brukermeny.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc; color: #888;
}

nav.brukermeny.light a.btn-customized-4.btn-customized-dark { background: #555; }
nav.brukermeny.light a.btn-customized-4.btn-customized-light { background: #eee; }

nav.brukermeny.light a.btn-customized-4.btn-customized-dark:hover,
nav.brukermeny.light a.btn-customized-4.btn-customized-dark:active,
nav.brukermeny.light a.btn-customized-4.btn-customized-dark:focus,
nav.brukermeny.light a.btn-customized-4.btn-customized-dark:active:focus,
nav.brukermeny.light a.btn-customized-4.btn-customized-dark.active:focus,
nav.brukermeny.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
nav.brukermeny.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc; color: #fff;
}

nav.brukermeny.light a.btn-customized-4.btn-customized-light:hover,
nav.brukermeny.light a.btn-customized-4.btn-customized-light:active,
nav.brukermeny.light a.btn-customized-4.btn-customized-light:focus,
nav.brukermeny.light a.btn-customized-4.btn-customized-light:active:focus,
nav.brukermeny.light a.btn-customized-4.btn-customized-light.active:focus,
nav.brukermeny.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
nav.brukermeny.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc; color: #fff;
}

/* --------------------------------------------------------------------------------
    *   5.3 Menu Overlay
/* -------------------------------------------------------------------------------- */

.overlay {
    display: none; position: fixed; top: 0; width: 100vw; height: 100vh;
    background: rgba(51, 51, 51, 0.7); z-index: 998; opacity: 0; transition: all .5s ease-in-out;
}

.overlay.initialiserer,
.overlay.laster,
.overlay.active { display: block; opacity: 1; }

/* --------------------------------------------------------------------------------
    *   5.4 Navigation buttons
/* -------------------------------------------------------------------------------- */

.nav-buttons.justify-content-md-end > * + * {
    margin-left: .25rem;
}

/*  ----------------------------------------------------------------
    6. Forms and input
    ---------------------------------------------------------------- */
form {
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

form > *:first-child { margin-top: 0; }
form > *:last-child { margin-bottom: 0; }

form *:invalid {
    border: 0.1px solid #cc2828;
}

fieldset {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
    padding: 1.25rem;
}

fieldset > *:first-child { margin-top: 0; }
fieldset > *:last-child { margin-bottom: 0; }

legend {
    font-size: .85em;
    font-weight: 700;
    padding: 0 0.625rem;
    width: initial;
}

label {
    display: block;
    font-size: 0.9375rem;
    font-weight: 600;
    margin: 0.5rem 0 .3125rem 0;
}

label.inline,
input[type="radio"] + label,
input[type="checkbox"] + label {
    display: inline;
    font-weight: 400;
    margin-left: .3125rem;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: 1;
    margin-bottom: .3125rem;
}

input,
textarea {
    border-color: #E1E1E3;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: .1875rem;
    border-style: solid;
    border-width: .0625rem;
    box-shadow: none;
    display: block;
    font-size: 1rem;
    line-height: normal;
    margin: 0 0 .3125rem;
    max-width: 100%;
    outline: none;
    padding: .5rem 1.125rem;
    width: 100%;
}

textarea {
    height: 7.5rem;
    line-height: 1.5;
    width: 100%;
}

select {
    font-family: inherit;
    font-size: inherit;
    margin-bottom: .3125rem;
}
.select2 {
    margin-bottom: .3125rem;
}

::-webkit-input-placeholder { color: #747579; line-height: normal; }
::-moz-placeholder { color: #747579; line-height: normal; }
:-ms-input-placeholder { color: #747579; line-height: normal; }
:-moz-placeholder { color: #747579; opacity: 1; line-height: normal; }
::placeholder { color: #747579; line-height: normal; opacity: 1; }

input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-datetime-edit-text {
    color: green;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

button,
.button,
.faux-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--knappfarge);
    border: .5px solid var(--mørk-bakgrunn);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    padding: .375rem .75rem;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition:
            color .15s ease-in-out,
            background-color .15s ease-in-out,
            border-bottom-color .15s ease-in-out,
            box-shadow .15s ease-in-out;
    ;
}

a.button:not([href]):not([tabindex]) {
    color: #fff;
}

button:hover,
.button:hover,
.faux-button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
.button:focus,
.faux-button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    text-decoration: underline;
    color: var(--lys-tekst);
    background-color: var(--knappfarge-aktiv);
    border: .5px solid var(--mørk-bakgrunn);
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
.button.disabled,
.faux-button.disabled {
    opacity: 40%;
}

.skjemarespons {
    display: none;
    padding: 3rem;
    border: 1px solid black;
}

.skjemarespons.success {
    display: block;
    color: #5aa767;
    border-color: #5aa767;
    background-color: white;
}

.skjemarespons.error {
    display: block;
    background-color: #660000;
    border-color: black;
    color: white;
}

.skjemarespons.notice {
    display: block;
    color: inherit;
    border-color: inherit;
    background-color: white;
}

.skjemarespons.warning {
    display: block;
    background-color: #FFBF00;
    color: white;
    border-color: black;
}

.checkboxnote {
    font-size: 1.6rem;
    padding-left: 16px;
}

.checkboxnote {
    font-size: 1rem;
    padding-left: 16px;
}


/*  ----------------------------------------------------------------
    *   6.1 Collapsible Section
    ---------------------------------------------------------------- */
.collapsible-section {
    margin-bottom: .3125rem;
}

.collapsible-section-button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: .375rem 1.125rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.collapsible-section-button.active,
.collapsible-section-button:hover {
    color: #444;
    text-decoration: none;
    background-color: #ccc;
    border: none;
}

.collapsible-section-button:after {
    content: '\02795';
    float: right;
    margin-left: 5px;
}

.collapsible-section-button[aria-expanded='true']:after {
    content: "\2796";
}

.collapsible-section-content {
    padding: 0 18px 18px;
    border: 1px solid #f1f1f1;
    display: none;
    overflow: hidden;
}

/*  ----------------------------------------------------------------
    *   6.2 Select2
    ---------------------------------------------------------------- */

.select2-container .select2-selection--multiple {
    max-height: 200px;
    overflow-y: auto;
}

.select2-container .select2-selection--multiple.leieforhold-velger {
    max-height: 150px;
}
.select2-container .select2-selection--multiple.leieforhold-velger .select2-selection__rendered {
    display: inline-grid;
}

/*  ----------------------------------------------------------------
    *   6.3 CKEditor
    ---------------------------------------------------------------- */

.ck.ck-dropdown__panel {
    max-height: 160px;
    overflow-y: auto;
}

/*  ----------------------------------------------------------------
    7. DataTables
    ---------------------------------------------------------------- */

div.dt-container div.dt-layout-cell {
    line-height: 1;
}
div.dt-container div.dt-layout-cell.dt-start {
    float: left;
}
div.dt-container div.dt-layout-cell.dt-end {
    float: right;
}

div.dt-buttons>.dt-button:focus:not(.disabled),
div.dt-buttons>div.dt-button-split .dt-button:focus:not(.disabled) {
    outline-color: var(--knappfarge);
}

.dt-button.buttons-collection.buttons-colvis {
    padding: .1em 1em;
}

.dataTable tbody tr td.dt-empty {
    display: none;
}


/* Breakpoints: 640, *768*, 841, *960*, 1024, 1265 px */
@media ( min-width: 768px ) {
    div.dt-container div.dt-layout-cell .dt-length label {
        display: inline-flex;
        margin: 10px 0 0;
    }
    div.dt-container div.dt-layout-cell .dt-length label select {
        margin: 0 4px;
        position: relative;
        bottom: 0.4rem;
    }
    div.dt-container div.dt-layout-cell .dt-search {
        display: inline-flex;
    }
    div.dt-container div.dt-layout-cell .dt-search label {
        margin: 10px 4px 0;
    }

}


/*  ----------------------------------------------------------------
    8. ExtJs
    ---------------------------------------------------------------- */

#panel.extjs-panel {
    height: calc(100vh - 80px);
}
.x-panel span.kolonnelabel {
    display: none;
}
.x-grid-data-row.rad-grønn {
    background-color: darkseagreen;
}
.x-grid-data-row.rad-rød {
    background-color: orangered;
}
.x-form-item label.x-form-item-label {
    font-weight: 500;
    font-size: inherit;
    margin: 0;
}


/*  ----------------------------------------------------------------
    *   8.1 Prevent ExtJs overrides outside ExtJs
    ---------------------------------------------------------------- */

body.x-body {
    font-family: calibri, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1rem;
}

/*  ----------------------------------------------------------------
    *   8.2 Reinstate ExtJs styling which has been overridden
    ---------------------------------------------------------------- */

@media screen {
    .x-window input,
    .x-panel input {
        padding: 3px;
        font-size: inherit;
        border-radius: revert;
        background-color: white;
    }
    .x-window .x-form-checkbox,
    .x-panel .x-form-checkbox {
        background: url(/pub/lib/ext-4.2.1.883/resources/ext-theme-gray/images/form/checkbox.gif) no-repeat 0 0;
        width: 13px;
        height: 13px;
        padding: 0;
    }
    .x-window .x-form-cb-checked .x-form-checkbox,
    .x-panel .x-form-cb-checked .x-form-checkbox {
        background-position-y: -13px;
    }
    .x-window .x-form-radio,
    .x-panel .x-form-radio {
        background-image: url(/pub/lib/ext-4.2.1.883/resources/ext-theme-gray/images/form/radio.gif);
        background-repeat: no-repeat;
    }
}

/*  ----------------------------------------------------------------
    9. Bootstrap
    ---------------------------------------------------------------- */

/*  ----------------------------------------------------------------
    *   9.1 Corrections for bootstrap
    ---------------------------------------------------------------- */
.form-control {
    /*box-sizing: border-box;*/
}

.form-control input,
.form-control select {
    padding: 0;
    margin: 0;
    border: none;
}

/*  ----------------------------------------------------------------
    10. Page specific and custom styling
    ---------------------------------------------------------------- */

/*  ----------------------------------------------------------------
    *   10.1 Kostnadsdeling
    ---------------------------------------------------------------- */
dl.kostnadsdeling.egenskaper.fordelt {
    background-position: right;
    background-image: url(/pub/media/bilder/felles/fordelt_stempel.png);
    background-repeat: no-repeat;
}

/*  ----------------------------------------------------------------
    *   10.2 Utleietabell
    ---------------------------------------------------------------- */

#utleietabell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    background-color: gray;
    color: #333;
}

#utleietabell a {
    color: #333;
}

#utleietabell .overskriftsrad {
    font-family: arial, helvetica, sans-serif;
    background-color: white;
    font-weight: 600;
    font-size: 13px;
    position: relative;
    border-bottom: 1px solid black;
    height: 20px;
    text-align: center;
}

#utleietabell .overskriftsrad div {
    border: none;
    border-right: 1px solid black;
    position: absolute;
}

#utleietabell .bygning {
    border-bottom: 2px solid gray;
}

#utleietabell .leieobjekt {
    position: relative;
    border-bottom: 1px solid gray;
}

#utleietabell .leieobjekt > div.beskrivelse {
    background-color: white;
    color: red;
    position: absolute;
    padding-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0;
    width: 90px;
    height: 100%;
}

#utleietabell .leieobjekt > div.beskrivelse div {
}

#utleietabell .leieobjekt > div.leiegrad {
    display: block;
    position: relative;
    left: 90px;
    height: 24px;
    background-color: white;
    width: 90px;
}

#utleietabell .leieobjekt > div.leiegrad div {
    position: absolute;
    text-align: center;
    height: 100%;
}

#utleietabell .leieforhold {
    display: block;
    position: relative;
    left: 90px;
    width: 90px;
}

#utleietabell .leieforhold > div.beskrivelse {
    border-bottom: 1px solid gray;
    background-color: white;
    color: green;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px;
    height: 100%;
}

#utleietabell .leieforhold > div.beskrivelse div {
    margin-left: 4px;
}

#utleietabell .termin {
    border-bottom: 1px solid gray;
    background-color: white;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#utleietabell .termin.betalt {
    background-color: palegreen;
}

#utleietabell .termin.delvis-betalt {
    background-color: orange;
}

#utleietabell .termin.ubetalt {
    background-color: #ee2607;
}

#utleietabell .termin.forfalt {
    background-color: darkred;
}

#utleietabell .termin.purret {
    background-color: darkred;
}

#utleietabell .leieobjekt > div.leiegrad div.ikke-utleid {
    background-color: #ee2607;
}

#utleietabell .leieobjekt > div.leiegrad div.delvis-utleid {
    background-color: orange;
}

#utleietabell .leieobjekt > div.leiegrad div.utleid {
    background-color: green;
}

#utleietabell .leieobjekt > div.leiegrad div.overleid {
    background-color: black;
}