/*---------------------------------------------------------------------------------

	Email styling

----------------------------------------------------------------------------------- */

button,
.button,
.faux-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #007C89;
    border: none;
    border-radius: .3rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: .8888em;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding: 1.175em 1.75em;
    text-align: center;
    text-decoration: none;
    transition: opacity .15s linear;
}

/* Data Definition Lists --------------------- */

dl {
    display: flex;
    flex-flow: row wrap;
}
dt {
    flex-basis: 30%;
    padding: 2px 4px;
    min-width: 120px;
}
dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0 0 0 20px;
    padding: 2px 4px;
}

dt,
dd {
    line-height: 1.5;
    word-break: normal;
}

dt {
    font-weight: 700;
}

dd dl {
    margin-block: 0;
    border: 1px solid lightgrey;
}

