/*  ----------------------------------------------------------------

    0.  Local overrides
    1.  Dashboard
    2.  Forms
    2.2  Select2
    3. ExtJs
    4. DataTables
    5.  Custom
    100. Media Queries
    200.  @media ( min-width: 350px )
        201.  Dashboard
    300.  @media ( min-width: 700px )
        301.  Dashboard
    400.  @media ( min-width: 782px )
    500.  @media ( min-width: 1000px )
    600.  @media ( min-width: 1180px )
    700.  @media ( max-width: 999px )
    800.  @media ( max-width: 781px )
        801.  Dashboard
    900.  @media ( max-width: 699px )
    1000.  @media ( max-width: 349px )

    ---------------------------------------------------------------- */



/*  ----------------------------------------------------------------
    0.  Local overrides
    ---------------------------------------------------------------- */

/* Hide number field arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /*border: 1px solid black;*/
}

/*  ----------------------------------------------------------------
    2.  Forms
    ---------------------------------------------------------------- */

.skjemarespons {
    display: none;
    padding: 3rem;
    border: 1px solid black;
}

.skjemarespons.success {
    display: block;
    color: #5aa767;
    border-color: #5aa767;
    background-color: white;
}

.skjemarespons.error {
    display: block;
    background-color: #660000;
    border-color: black;
    color: white;
}

.skjemarespons.notice {
    display: block;
    color: inherit;
    border-color: inherit;
    background-color: white;
}

.skjemarespons.warning {
    display: block;
    background-color: #FFBF00;
    color: white;
    border-color: black;
}

.checkboxnote {
    font-size: 1.6rem;
    padding-left: 16px;
}

/*  ----------------------------------------------------------------
    2.2  Select2
    ---------------------------------------------------------------- */

span.select2-selection {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    color: inherit;
    line-height: normal;
    margin: 0;
    max-width: 100%;
    outline: none;
    padding: 1rem 1.8rem;
    width: 100%;
}

span.select2-selection {
    font-family: inherit;
    font-size: inherit;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single {
    border-radius: 0.3rem;
    border-color: #dadada;
    background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5aa767;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
    right: 12px;
}


/*  ----------------------------------------------------------------
    3. ExtJs
    ---------------------------------------------------------------- */

body.x-body {
    font-family: calibri, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.8rem;
    color: #1A1B1F;
}
.extjs-container {
    width: 100%;
}

/*  ----------------------------------------------------------------
    4. DataTables
    ---------------------------------------------------------------- */

table.dataTable tr.shown + tr > td {
    padding: unset;
}

table.dataTable tr table.subrow {
    margin: auto;
    border: 4px solid #eaeaea;
    border-top: none;
    box-sizing: border-box;
}

table.dataTable.display tbody table.subrow tr:hover {
    background-color: #ffffff;
}

table.dataTable input {
    font-size: inherit;
    background-color: transparent;
    padding: 0;
    border: none;
}

.right input,
.beløp input {
    text-align: right;
}

table.subrow td.label {
    font-weight: bold;
    word-break: normal;
    vertical-align: baseline;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before {
    padding-right: unset;
}

table.dataTable tr button {
    padding: 0.2em 1em;
}

/*  ----------------------------------------------------------------
    5.  Custom
    ---------------------------------------------------------------- */

textarea#søknadstekst + .ck .ck-editor__editable_inline {
    min-height: 300px;
}
