/*  ----------------------------------------------------------------

    1. Custom Properties
    2.  Forms
    2.2  Select2
    3. ExtJs
    4. DataTables
    5.  Custom
    100. Media Queries
    200.  @media ( min-width: 350px )
        201.  Dashboard
    300.  @media ( min-width: 700px )
        301.  Dashboard
    400.  @media ( min-width: 782px )
    500.  @media ( min-width: 1000px )
    600.  @media ( min-width: 1180px )
    700.  @media ( max-width: 999px )
    800.  @media ( max-width: 781px )
        801.  Dashboard
    900.  @media ( max-width: 699px )
    1000.  @media ( max-width: 349px )

    ---------------------------------------------------------------- */


/* --------------------------------------------------------------------------------
    1. Custom Properties
/* -------------------------------------------------------------------------------- */

:root {
    --lys-bakgrunn: #FFFFFF;
    --mørk-bakgrunn: #333333;
    --temafarge1: #c4530e;
    --lys-tekst: #FFFFFF;
    --knappfarge: #c4530e;
    --knappfarge-aktiv: #333333;
    --lenke1: #6b2d00;
}