body {
	font-size: 0.95rem;
}

body * {
}

/* ELEMENT BASE */

p {
	font-size: inherit;
	orphans: 2;
	widows: 2;
}

a {
	color: initial;
	font-weight: initial;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-top: 1em;
}

h1 { font-size: 2.2em }
h2 { font-size: 2.0em }
h3 { font-size: 1.8em }
h4 { font-size: 1.6em }
h5 { font-size: 1.4em }
h6 { font-size: 1.2em }

figure {
	page-break-inside: avoid;
	break-inside: avoid;
}

table {width: 100%}

table .value,
table .right,
table .beløp {
	text-align: right;
}

.kolonnelabel {
	display: none;
}

/* HIDE ELEMENTS */

#min-side-header,
#flyko-header,
#site-footer,
.breadcrumbs,
.tilbakeknapp,
.skip-link,
.cover-modal,
.pagination-wrapper,
.post-navigation,
.related-posts {
	display: none !important;
}

/* RESET WIDTHS */

.alignwide,
.alignfull,
.entry-content,
:root .section-inner {
	margin-left: 0;
	margin-right :0;
	max-width: 100%;
	width: 100%;
}

/* MODIFY SPACING */

.post-inner {
	padding-top: 3rem;
}

/* ENTRY CONTENT */

.entry-content {
	font-size: inherit;
}

.entry-content a[href]:after {
	content: " (" attr(href) ")";
	display: inline;
}

/* EXT-JS */
#kaplinio {
	display:none;
}
#navigado {
	display:none;
}
#vidujo {
	overflow: visible;
}
.beforegroup {
	page-break-after: avoid;
}
.group {
	page-break-inside: avoid;
}
.aftergroup {
	page-break-before: avoid;
}
.page {
	page-break-after: always;
}
.x-panel-header-text-default {
	font-size: 2rem;
	font-weight: bold;
}
.x-toolbar,
.x-action-col-cell {
	display: none;
}

.x-grid-body,
.x-grid-header-ct {
	position: relative;
}
.x-column-header {
	 position: absolute;
 }