/*  ----------------------------------------------------------------

    0.  Local overrides
    1.  Dashboard
    2.  Forms
    2.2  Select2
    3. ExtJs
    4. DataTables
    5.  Custom
    100. Media Queries
    200.  @media ( min-width: 350px )
        201.  Dashboard
    300.  @media ( min-width: 700px )
        301.  Dashboard
    400.  @media ( min-width: 782px )
    500.  @media ( min-width: 1000px )
    600.  @media ( min-width: 1180px )
    700.  @media ( max-width: 999px )
    800.  @media ( max-width: 781px )
        801.  Dashboard
    900.  @media ( max-width: 699px )
    1000.  @media ( max-width: 349px )

    ---------------------------------------------------------------- */



/*  ----------------------------------------------------------------
    0.  Local overrides
    ---------------------------------------------------------------- */



/*  ----------------------------------------------------------------
    1.  Dashboard
    ---------------------------------------------------------------- */

.dashboard.rutenett {
    margin: 0.3rem 0 -0.5rem 0;
    display: flex;
    flex-flow: row wrap;
    -moz-box-align: stretch;
    justify-content: center;
    width: auto;
}

.dashboard.rutenett .flis {
    width: 100%;
    margin: 0;
    padding: 0.8rem;
}

.dashboard.rutenett .flis a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.dashboard.rutenett .flis .rutenett-knapp {
    background-image: url("/pub/media/bilder/sentral/flis-bg4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    text-align: center;
    font-size: 6rem;

    border-radius: 0;
    max-height: 36rem;
    position: relative;
    margin: 0;
    padding: 2.6rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-box-pack: center;
    justify-content: flex-end;
    /*border: 1px solid red;*/
}

.dashboard.rutenett .ikonbeholder {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    -moz-box-pack: center;
    margin: 1.3rem auto 3rem;
    /*border: 1px solid black;*/
}

.dashboard.rutenett .ikonbeholder img {
    display: block;
    height: 100%;
    width: auto;
}

.dashboard.rutenett h3.flistekst {
    font-size: 3.6rem;
    line-height: 0.8;
    color: #111;
    text-align: center;
    margin: 0;
    /*border: 1px solid black;*/
}

/*  ----------------------------------------------------------------
    2.  Forms
    ---------------------------------------------------------------- */

.skjemarespons {
    display: none;
    padding: 3rem;
    border: 1px solid black;
}

.skjemarespons.success {
    display: block;
    color: #5aa767;
    border-color: #5aa767;
    background-color: white;
}

.skjemarespons.error {
    display: block;
    background-color: #660000;
    border-color: black;
    color: white;
}

.skjemarespons.notice {
    display: block;
    color: inherit;
    border-color: inherit;
    background-color: white;
}

.skjemarespons.warning {
    display: block;
    background-color: #FFBF00;
    color: white;
    border-color: black;
}

.checkboxnote {
    font-size: 1.6rem;
    padding-left: 16px;
}

/*  ----------------------------------------------------------------
    2.2  Select2
    ---------------------------------------------------------------- */

span.select2-selection {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    color: inherit;
    line-height: normal;
    margin: 0;
    max-width: 100%;
    outline: none;
    padding: 1rem 1.8rem;
    width: 100%;
}

span.select2-selection {
    font-family: inherit;
    font-size: inherit;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single {
    border-radius: 0.3rem;
    border-color: #dadada;
    background-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5aa767;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
    right: 12px;
}


/*  ----------------------------------------------------------------
    3. ExtJs
    ---------------------------------------------------------------- */

body.x-body {
    font-family: calibri, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.8rem;
    color: #1A1B1F;
}
.extjs-container {
    width: 100%;
}

/*  ----------------------------------------------------------------
    4. DataTables
    ---------------------------------------------------------------- */

table.dataTable tr.shown + tr > td {
    padding: unset;
}

table.dataTable tr table.subrow {
    margin: auto;
    border: 4px solid #eaeaea;
    border-top: none;
    box-sizing: border-box;
}

table.dataTable.display tbody table.subrow tr:hover {
    background-color: #ffffff;
}

table.subrow td.label {
    font-weight: bold;
    word-break: normal;
    vertical-align: baseline;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before {
    padding-right: unset;
}

/*  ----------------------------------------------------------------
    5.  Custom
    ---------------------------------------------------------------- */

ul.leieforholdsett {
    margin: 0;
}

ul.leieforholdsett li {
    margin: 0;
    list-style: none;
}

ul.blocks li {
    margin: 2rem 1rem;
    list-style: none;
    display: inline-block;
    min-width: 45%;
}

ul.blocks li button,
ul.blocks li .button {
    float: right;
}

.verktøylinje div {
    display: inline-block;
}
.verktøylinje button,
.verktøylinje .button {
    display: block;
}

dl.kostnadsdeling.egenskaper.fordelt {
    background-position: right;
    background-image: url(/pub/media/bilder/felles/fordelt_stempel.png);
    background-repeat: no-repeat;
}

ul.tags {
    display: inline-block;
    list-style: none;
    margin: auto;
}

ul.tags li {
    display: inherit;
    border: 1px solid #aeaeae;
    padding: 2px 10px;
    margin: 1px;
    text-align: center;
}

/*  ----------------------------------------------------------------
    200.  @media ( min-width: 350px )
    ---------------------------------------------------------------- */

@media ( min-width: 350px ) {

    /*  ----------------------------------------------------------------
        201.  Dashboard
        ---------------------------------------------------------------- */

    .dashboard.rutenett .flis {
        width: 50%;
    }

    .dashboard.rutenett .ikonbeholder {
        width: 100px;
        height: 100px;
    }
}

/*  ----------------------------------------------------------------
    300.  @media ( min-width: 700px )
    ---------------------------------------------------------------- */

@media ( min-width: 700px ) {

    /*  ----------------------------------------------------------------
        301.  Dashboard
        ---------------------------------------------------------------- */

    .dashboard.rutenett .flis {
        width: 33.3333%;
    }

    .dashboard.rutenett .ikonbeholder {
        width: auto;
        height: 140px;
    }
}

/*  ----------------------------------------------------------------
    800.  @media ( max-width: 781px )
    ---------------------------------------------------------------- */

@media ( max-width: 781px ) {

    /*  ----------------------------------------------------------------
        801.  Dashboard
        ---------------------------------------------------------------- */

    .dashboard.rutenett .ikonbeholder {
        margin: 0;
    }
    .dashboard.rutenett h3.flistekst {
        font-size: 2.6rem;
    }

}

/*  ----------------------------------------------------------------
    900.  @media ( max-width: 699px )
    ---------------------------------------------------------------- */

@media ( max-width: 699px ) {

    /*  ----------------------------------------------------------------
        901.  Dashboard
        ---------------------------------------------------------------- */

    .dashboard.rutenett .flis .rutenett-knapp {
        justify-content: center;
    }
    .dashboard.rutenett .ikonbeholder {
        height: 140px;
        width: auto;
    }
    .dashboard.rutenett h3.flistekst {
        font-size: 2.6rem;
    }

}
