/*---------------------------------------------------------------------------------


	0.  CSS Reset
	1.  Document Setup
	2.  Element Base
	3.  Helper Classes
	4.  Site Header
	5.  Modal: Menu
	6.  Content
	7.  Error 404
	8.  Site Footer
	9.  Breadcrumbs
	100.  Media Queries
		200.  @media ( min-width: 350px )
			201. Document Setup
			202. Element Base
			203. Helper Classes
			204. Site Header
			205. Modal: Menu
			206. Content
			207. Error 404
			208. Site Footer
			209. Breadcrumbs
		300.  @media ( min-width: 700px )
			301. Document Setup
			302. Element Base
			303. Helper Classes
			304. Site Header
			305. Modal: Menu
			306. Content
			307. Error 404
			308. Site Footer
			309. Breadcrumbs
		400.  @media ( min-width: 782px )
			401. Document Setup
			402. Element Base
			403. Helper Classes
			404. Site Header
			405. Modal: Menu
			406. Content
			407. Error 404
			408. Site Footer
			409. Breadcrumbs
		500.  @media ( min-width: 1000px )
			501. Document Setup
			502. Element Base
			503. Helper Classes
			504. Site Header
			505. Modal: Menu
			506. Content
			507. Error 404
			508. Site Footer
			509. Breadcrumbs
		600.  @media ( min-width: 1180px )
			601. Document Setup
			602. Element Base
			603. Helper Classes
			604. Site Header
			605. Modal: Menu
			606. Content
			607. Error 404
			608. Site Footer
			609. Breadcrumbs
		700.  @media ( min-width: 1220px )
			701. Document Setup
			702. Element Base
			703. Helper Classes
			704. Site Header
			705. Modal: Menu
			706. Content
			707. Error 404
			708. Site Footer
			709. Breadcrumbs
		800.  @media ( min-width: 1300px )
			801. Document Setup
			802. Element Base
			803. Helper Classes
			804. Site Header
			805. Modal: Menu
			806. Content
			807. Error 404
			808. Site Footer
			809. Breadcrumbs

----------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------
	0.  CSS Reset
/* -------------------------------------------------------------------------------- */


html, body {
	border: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

blockquote:before,
blockquote:after {
	content: "";
}

/* Remove field type input Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* --------------------------------------------------------------------------------
	1.  Document Setup
/* --------------------------------------------------------------------------------------------- */


html {
	font-size: 62.5%; /* 1rem = 10px */
}

/* Fix for the admin bar */
@media ( max-width: 599px ) {
	html.scroll-locked { margin: 0 !important; }
}

body {
	background: #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #1A1B1F;
	font-family: calibri, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.7rem;
	text-align: left;
}

*,
*:before,
*:after {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
	box-sizing: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	/*word-break: break-word;*/
}

::selection {
	background: black;
	color: #fff;
}

#site-content {
	overflow: hidden;
}

/* Clearing ---------------------------------- */

.entry-content:after {
	clear: both;
	content: "";
	display: block;
}

/* Base Transitions -------------------------- */

a,
path {
	transition: all .15s linear;
}

/* Accessibility Settings -------------------- */

@media ( prefers-reduced-motion: reduce ) {
	* {
		animation-duration: 0s !important;
		transition-duration: 0s !important;
	}
}


/* --------------------------------------------------------------------------------
	2.  Element Base
/* --------------------------------------------------------------------------------------------- */


main {
	display: block;
}

h1, h2, h3, h4, h5, h6, .faux-heading {
    font-family: calibri, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	font-weight: 500;
	line-height: 1.25;
	margin: 4rem 0 2.5rem;
	color: #5aa767;
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.8rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 2.1rem; }
h5 { font-size: 1.9rem; }
h6 { font-size: 1em; }

p {
	line-height: 1.5;
	margin: 0 0 1.175em 0;
}

em,
i,
q,
dfn {
	font-style: italic;
}

b,
strong {
	font-weight: 700;
}

ins {
	text-decoration: underline;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

abbr,
acronym {
	cursor: help;
}

address {
	line-height: 1.5;
	margin: 0 0 2rem 0;
}

hr {
	border: none;
	border-top: .1rem solid currentColor;
	color: #E1E1E3;
	margin: 5rem 0;
}

a {
	color: #007C89;
	text-decoration: underline;
}

.utdyping {
	font-size: 1.5rem;
}
.utdyping:before {
	/*content: "\24D8";*/
	content: "\261E";
}

/* Lists ------------------------------------- */

ul,
ol {
	margin: .5rem 0 3rem 3rem;
}

li {
	line-height: 1.5;
	margin: .5rem 0 .5rem 2rem;
}

li > ul,
li > ol {
	margin: .5rem 0 .5rem 2rem;
}

.reset-list-style,
.reset-list-style ul,
.reset-list-style ol {
	list-style: none;
	margin: 0;
}

.reset-list-style li {
	margin: 0;
}

/* Data Definition Lists --------------------- */

dl {
	display: flex;
	flex-flow: row wrap;
}
dt {
	flex-basis: 30%;
	padding: 2px 4px;
	min-width: 120px;
}
dd {
	flex-basis: 70%;
	flex-grow: 1;
	margin: 0;
	padding: 2px 4px;
}

dt,
dd {
	line-height: 1.5;
	word-break: normal;
}

dt {
	font-weight: 700;
}

dd dl {
	margin-block: 0;
	border: 1px solid lightgrey;
}

/* Quotes ------------------------------------ */

blockquote {
	border-color: #007C89;
	border-style: solid;
	border-width: 0 0 0 .2rem;
	color: inherit;
	font-size: 1em;
	margin: 3rem 0;
	padding: 0 0 0 2rem;
}

cite {
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 600;
}

blockquote cite {
	display: block;
	margin: 2rem 0 0 0;
}

blockquote p:last-of-type {
	margin: 0;
}

/* Code -------------------------------------- */

code,
kbd,
pre,
samp {
	font-family: monospace;
	font-size: 1em;
	padding: .4rem .6rem;
}

code,
kbd,
samp {
	background: #F1F1F3;
	border-radius: .2rem;
}

pre {
	border: .1rem solid #E1E1E3;
	line-height: 1.5;
	margin: 4rem 0;
	overflow: auto;
	padding: 3rem 2rem;
	text-align: left;
}

pre code {
	background: transparent;
	padding: 0;
}

/* Media ------------------------------------- */

figure {
	margin: 0;
}

iframe {
	border: none;
	display: block;
	max-width: 100%;
}

svg,
img,
embed,
object {
	display: block;
	height: auto;
	max-width: 100%;
}

figcaption {
	display: block;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 1.5rem;
}

/* GALLERIES */

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 3em 0 3em -.8em;
	width: calc( 100% + 1.6em );
}

.gallery-item {
	margin: .8em 0;
	padding: 0 .8em;
}

.gallery-item img,
.gallery-item {
	display: block;
	width: 100%;
}

.gallery-caption {
	display: block;
	margin-top: .8em;
}

/* Inputs ------------------------------------ */

fieldset {
	border: .2rem solid #e1e1e3;
	margin-bottom: 3rem;
	margin-top: 3rem;
	padding: 2rem;
}

fieldset.noborder {
	border: none;
	padding: 0;
	margin: 0;
}

fieldset > *:first-child { margin-top: 0; }
fieldset > *:last-child { margin-bottom: 0; }

form {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

form > *:first-child { margin-top: 0; }
form > *:last-child { margin-bottom: 0; }

form *:invalid {
	border: 1px solid #cc2828;
}

legend {
	font-size: .85em;
	font-weight: 700;
	padding: 0 1rem;
}

label {
	display: block;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 3rem 0 .5rem 0;
}

label.inline,
input[type="checkbox"] + label {
	display: inline;
	font-weight: 400;
	margin-left: .5rem;
}

fieldset.checkboxes label {
	font-weight: 400;
	margin: .5rem 0 .5rem 0;
}

input,
textarea,
button {
	font-family: inherit;
	line-height: 1;
	margin-bottom: .5rem;
}

input,
textarea {
	border-color: #E1E1E3;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	border-radius: .3rem;
	border-style: solid;
	border-width: .1rem;
	box-shadow: none;
	color: inherit;
	display: block;
	font-size: 1.6rem;
	line-height: normal;
	margin: 0 0 .5rem;
	max-width: 100%;
	outline: none;
	padding: 1.5rem 1.8rem;
	width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
select {
	height: 5rem;
}

textarea {
	height: 12rem;
	line-height: 1.5;
	width: 100%;
}

select {
	font-family: inherit;
	font-size: inherit;
	margin-bottom: .5rem;
}
.select2 {
	margin-bottom: .5rem;
}

::-webkit-input-placeholder { color: #747579; line-height: normal; }
::-moz-placeholder { color: #747579; line-height: normal; }
:-ms-input-placeholder { color: #747579; line-height: normal; }
:-moz-placeholder { color: #747579; opacity: 1; line-height: normal; }
::placeholder { color: #747579; line-height: normal; opacity: 1; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

button,
.button,
.faux-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #007C89;
	border: none;
	border-radius: .3rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: .8888em;
	font-weight: 600;
	line-height: 1;
	margin: 0;
	padding: 1.175em 1.75em;
	text-align: center;
	text-decoration: none;
	transition: opacity .15s linear;
}

button:hover,
.button:hover,
.faux-button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
.button:focus,
.faux-button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	text-decoration: underline;
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
.button.disabled,
.faux-button.disabled {
	opacity: 40%;
}


.checkboxnote {
	font-size: 1.6rem;
	padding-left: 16px;
}

/* Tables ------------------------------------ */

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	margin: 4rem 0;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
}

th,
td,
caption {
	padding: .8rem;
}

th,
td {
	border: none;
	line-height: 1.4;
	margin: 0;
	overflow: visible;
}

caption {
	background-color: #E1E1E3;
	font-weight: 700;
	text-align: center;
}

thead {
	white-space: normal;
}

th {
	font-weight: 700;
}

table.rutenett th,
table.rutenett td {
	border: .1rem solid #E1E1E3;
	word-break: normal;
}

table td.beløp,
table td.beløp span,
table td.dato {
	word-break: normal;
}

table td.dato {
	min-width: 11rem;
}

table th.beløp,
table td.beløp,
table th.beløp span,
table td.beløp span,
table th.høyrejustert,
table td.høyrejustert,
table th.høyrejustert span,
table td.høyrejustert span {
	text-align: right;
}

table th.sentrert,
table td.sentrert,
table th.sentrert span,
table td.sentrert span {
	text-align: center;
}

span.kolonnelabel {
	display: none;
}


/* --------------------------------------------------------------------------------
	3.  Helper Classes
/* --------------------------------------------------------------------------------------------- */


/* Layout ------------------------------------ */

.no-margin { margin: 0; }
.no-padding { padding: 0; }

.screen-height {
	min-height: 100vh;
}

.screen-width {
	position: relative;
	left: calc( 50% - 50vw );
	width: 100vw;
}

.center-vertically {
	align-items: center;
	display: flex;
	justify-content: center;
}

.no-scrollbars { scrollbar-width: none; }
.no-scrollbars::-webkit-scrollbar { display: none; }

/* Sections ---------------------------------- */

section {
	padding: 5rem 0;
	width: 100%;
}

.section-inner {
	margin: 0 auto;
	max-width: 112rem;
	width: calc( 100% - 4rem );
}

.section-inner.max-percentage {
	width: 100%;
}

.section-inner.thin { max-width: 100%; }
.section-inner.no-margin { margin: 0; }

/* Toggles ----------------------------------- */

.toggle {
	-moz-appearance: none;
	-webkit-appearance: none;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	position: relative;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	text-align: inherit;
	user-select: none;
}

.collapsible-section {
	margin-bottom: .5rem;
}

.collapsible-section-button {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}

.collapsible-section-button.active,
.collapsible-section-button:hover {
	text-decoration: none;
	background-color: #ccc;
}

.collapsible-section-button:after {
	content: '\02795';
	float: right;
	margin-left: 5px;
}

.collapsible-section-button.active:after {
	content: "\2796";
}

.collapsible-section-content {
	padding: 0 18px 18px;
	border: 1px solid #f1f1f1;
	display: none;
	overflow: hidden;
}

/* Grid Structure ---------------------------- */

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.grid .grid {
	margin-left: 0;
	width: 100%;
}

.grid .grid:last-child {
	margin-bottom: 0;
}

.grid {
	margin: 0 0 -4rem -1rem;
}

.grid + .grid { margin-top: 4rem; }

.grid-align-baseline { align-items: baseline; }
.grid-align-bottom { align-items: flex-end; }
.grid-align-top { align-items: flex-start; }

.grid-justify-start { justify-content: start; }
.grid-justify-center { justify-content: center; }
.grid-justify-end { justify-content: flex-end; }

.grid .grid-item {
	margin: 0 0 4rem 1rem;
	width: calc( 100% - 1rem );
}

.grid.mcols-1 > .grid-item { width: calc( 100% - 1rem ); }
.grid.mcols-2 > .grid-item { width: calc( 50% - 1rem ); }

.grid-item.col-1 { width: calc( 100% - 1rem ) !important; }
.grid-item.col-2 { width: calc( 50% - 1rem ) !important; }
.grid-item.col-3 { width: calc( 33.33% - 1rem ) !important; }
.grid-item.col-4 { width: calc( 25% - 1rem ) !important; }

.grid.no-hgutter > .grid-item,
.grid.mcols-1.no-hgutter > .grid-item { width: 100%; }
.grid.mcols-2.no-hgutter > .grid-item { width: 50%; }

.grid.no-vgutter,
.grid.no-vgutter .grid-item {
	margin-bottom: 0;
}

.grid.no-hgutter,
.grid.no-hgutter .grid-item {
	margin-left: 0;
}

.grid.match-gutter { margin-bottom: -1rem; }
.grid.match-gutter + .grid.match-gutter { margin-top: 1rem; }
.grid.match-gutter .grid-item { margin-bottom: 1rem; }

/* Typography -------------------------------- */

.font-size-xl { font-size: 1.25em; }
.font-size-xs { font-size: 0.8em; }

/* Colors ------------------------------------ */

/* TEXT COLOR */

.color-body-background,
.color-body-background-hover:hover { color: #fff; }

.color-primary,
.color-primary-hover:hover { color: #1A1B1F; }

.color-secondary,
.color-secondary-hover:hover { color: #747579; }

.color-accent,
.color-accent-hover:hover { color: #007C89; }

.color-border,
.color-border-hover:hover { color: #E1E1E3; }

.color-light-background,
.color-light-background-hover:hover { color: #F1F1F3; }

/* BACKGROUND COLOR */

.bg-body-background,
.bg-body-background-hover:hover { background: #fff; }

.bg-primary,
.bg-primary-hover:hover { background: #1A1B1F; }

.bg-secondary,
.bg-secondary-hover:hover { background: #747579; }

.bg-accent,
.bg-accent-hover:hover { background: #007C89; }

.bg-border,
.bg-border-hover:hover { background: #E1E1E3; }

.bg-light-background,
.bg-light-background-hover:hover { background: #F1F1F3; }

.bg-current-color,
.bg-current-color-hover:hover {
	background: currentColor;
}

/* BORDER COLOR */

.border-body-background,
.border-body-background-hover:hover { border-color: #fff; }

.border-color-primary,
.border-color-primary-hover:hover { border-color: #1A1B1F; }

.border-color-secondary,
.border-color-secondary-hover:hover { border-color: #747579; }

.border-color-accent,
.border-color-accent-hover:hover { border-color: #007C89; }

.border-color-border,
.border-color-border-hover:hover { border-color: #E1E1E3; }

.border-color-light-background,
.border-color-light-background-hover:hover { border-color: #F1F1F3; }

/* FILL COLOR */

.fill-children-body-background,
.fill-children-body-background * {
	fill: #FFF;
}

.fill-children-primary,
.fill-children-primary * {
	fill: #1A1B1F;
}

.fill-children-secondary,
.fill-children-secondary * {
	fill: #747579;
}

.fill-children-accent,
.fill-children-accent * {
	fill: #007C89;
}

.fill-children-border,
.fill-children-border * {
	fill: #E1E1E3;
}

.fill-children-light-background,
.fill-children-light-background * {
	fill: #F1F1F3;
}

.fill-children-current-color,
.fill-children-current-color * {
	fill: currentColor;
}

/* Opacity ----------------------------------- */

.opacity-0 { 	opacity: 0.0; }
.opacity-10 { 	opacity: 0.1; }
.opacity-20 { 	opacity: 0.2; }
.opacity-30 { 	opacity: 0.3; }
.opacity-40 { 	opacity: 0.4; }
.opacity-50 { 	opacity: 0.5; }
.opacity-60 { 	opacity: 0.6; }
.opacity-70 { 	opacity: 0.7; }
.opacity-80 { 	opacity: 0.8; }
.opacity-90 { 	opacity: 0.9; }
.opacity-100 { 	opacity: 1.0; }

/* Blend Mode -------------------------------- */

.blend-mode-normal { 		mix-blend-mode: normal; }
.blend-mode-multiply { 		mix-blend-mode: multiply; }
.blend-mode-screen { 		mix-blend-mode: screen; }
.blend-mode-overlay { 		mix-blend-mode: overlay; }
.blend-mode-darken { 		mix-blend-mode: darken; }
.blend-mode-lighten { 		mix-blend-mode: lighten; }
.blend-mode-color-dodge { 	mix-blend-mode: color-dodge; }
.blend-mode-color-burn { 	mix-blend-mode: color-burn; }
.blend-mode-hard-light { 	mix-blend-mode: hard-light; }
.blend-mode-soft-light { 	mix-blend-mode: soft-light; }
.blend-mode-difference { 	mix-blend-mode: difference; }
.blend-mode-exclusion { 	mix-blend-mode: exclusion; }
.blend-mode-hue { 			mix-blend-mode: hue; }
.blend-mode-saturation { 	mix-blend-mode: saturation; }
.blend-mode-color { 		mix-blend-mode: color; }
.blend-mode-luminosity { 	mix-blend-mode: luminosity; }

/* Image Classes ----------------------------- */

.faux-image,
.bg-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-contain {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Only enabled when no touch events are detected */
.no-touchevents .bg-attachment-fixed {
	background-attachment: fixed;
}

@supports ( -webkit-overflow-scrolling: touch ) {
    .bg-attachment-fixed {
        background-attachment: scroll;
    }
}

@media ( prefers-reduced-motion: reduce ) {
    .bg-attachment-fixed {
        background-attachment: scroll;
    }
}

.faux-image {
	position: relative;
}

a.faux-image {
	display: block;
}

.faux-image:after {
	content: "";
	display: block;
	padding-top: 62.5%;
	width: 100%;
}

.faux-image.aspect-ratio-16x9:after { padding-top: 56.25%; }
.faux-image.aspect-ratio-16x10:after { padding-top: 62.5%; }
.faux-image.aspect-ratio-4x3:after { padding-top: 75%; }
.faux-image.aspect-ratio-1x1:after { padding-top: 100%; }
.faux-image.aspect-ratio-3x4:after { padding-top: 133.33%; }
.faux-image.aspect-ratio-10x16:after { padding-top: 160%; }
.faux-image.aspect-ratio-9x16:after { padding-top: 177.77%; }

.faux-image img {
	position: absolute;
		left: -9999rem;
}

/* Cover Modals ------------------------------ */

.cover-modal {
	display: none;
	-ms-overflow-style: none;
}

.cover-modal::-webkit-scrollbar {
	display: none !important;
}

.cover-modal.show-modal {
	display: block;
}

/* Loading Indicator ------------------------- */

.loader {
	animation: spin 1.4s linear infinite;
	border-radius: 50%;
	border-style: solid;
	border-width: .3rem;
    height: 5rem;
	margin: auto;
    width: 5rem;
}

/* Animations -------------------------------- */

@keyframes spin {
    0% { 	transform: rotate( 0deg ); }
    100% { 	transform: rotate( 360deg ); }
}

@keyframes pop {
	0% { 	transform: scale( 1 ); }
	50% { 	transform: scale( 1.25 ); }
	100% { 	transform: scale( 1 ); }
}

@keyframes popIn {
	0% { 	transform: scale( 0.3 ); opacity: 0; }
	70% { 	transform: scale( 1.1 ); opacity: 1; }
	100% { 	transform: scale( 1.0 ); }
}

/* --------------------------------------------------------------------------------
	4. 	Header
/* -------------------------------------------------------------------------------- */


#min-side-header,
#sentral-header,
#flyko-header {
	background: transparent;
	margin-bottom: 5rem;
}

.header-inner {
	align-items: center;
	background: transparent;
	display: flex;
	min-height: 8rem;
	position: relative;
	transition: none;
}

.overlay-header .header-inner {
	z-index: 1;
}

.overlay-header .header-inner:not(.is-sticky) {
	color: #fff;
}

.header-inner.is-sticky {
	background: #fff;
}

.header-inner .section-inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header-titles {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 0 0 -2.5rem;
}

.leiebasen-custom-logo .header-titles {
	align-items: center;
}

.site-title,
.site-logo {
	margin: 0 0 0 2.5rem;
}

.site-title {
	font-size: 2.2rem;
	line-height: 1;
}

.overlay-header .site-title {
	color: inherit;
}

.site-title a {
	color: inherit;
	display: block;
	text-decoration: none;
}

.site-logo a,
.site-logo img {
	display: block;
}

.site-logo img {
	max-height: 6rem;
	width: auto;
}

.site-description {
	display: none;
	margin: 0 0 0 2.5rem;
	transition: all .15s linear;
}

/* Sticky Header ----------------------------- */

.header-inner.is-sticky {
	box-shadow: 0 0 1rem rgba( 0, 0, 0, 0.10 );
	position: fixed;
	left: 0;
	right: 0;
		top: 0;
	transition: box-shadow .2s linear, background-color .2s linear;
	z-index: 9999;
}

@media ( min-width: 600px ) and ( max-width: 782px ) {
	.admin-bar .header-inner.is-sticky { top: 4.6rem; }
}

@media ( min-width: 782px ) {
	.admin-bar .header-inner.is-sticky { top: 3.2rem; }
}

.showing-menu-modal .header-inner.is-sticky {
	box-shadow: none;
}

/* Overlay Header ---------------------------- */

.overlay-header #min-side-header,
.overlay-header #sentral-header,
.overlay-header #flyko-header {
	margin: 0;
	position: absolute;
		left: 0;
		right: 0;
		top: 0;
}

/* Header Navigation ------------------------- */

.header-navigation-wrapper {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

/* Header Toggles ---------------------------- */

.header-toggles {
	display: flex;
	flex-shrink: 0;
	justify-content: flex-end;
	margin: 0 -1.25rem 0 2rem;
	overflow: hidden;
}

.header-toggles .toggle {
	align-items: center;
	display: flex;
	height: 8rem;
	justify-content: flex-end;
	padding: 0 1.25rem;
	position: relative;
	text-decoration: none;
}

.header-toggles .toggle:hover,
.header-toggles .toggle:focus {
	outline: none;
	text-decoration: underline;
}

.header-toggles .toggle path {
	fill: currentColor;
}

.header-toggles .toggle-text {
	display: none;
	font-size: 1.6rem;
	font-weight: 500;
	margin: 0 1.5rem 0 0;
	white-space: nowrap;
}

.header-toggles .toggle:not(.active) .hide { display: none; }
.header-toggles .toggle.active .show { display: none; }

/* Search Toggle ----------------------------- */

/* Navigation Toggle ------------------------- */

.nav-toggle {
	width: auto;
}

.nav-toggle .bars {
	height: 1.4rem;
	position: relative;
	width: 2rem;
	display: table;
}

.nav-toggle .bar {
	background: currentColor;
	display: block;
	height: .18rem;
	position: absolute;
		right: 0;
		top: 50%;
	transition: transform 0.2s ease-in, opacity 0s ease-out 0.2s, margin 0.2s ease-out 0.2s;
	width: 100%;
}

.nav-toggle .bar:nth-child(1) { margin-top: -.6rem; }
.nav-toggle .bar:nth-child(3) { margin-top: 0.6rem; }

.nav-toggle.active .bar {
	transition: margin 0.2s ease-in, opacity 0s ease-in 0.2s, transform 0.2s ease-out 0.25s;
}

.nav-toggle.active .bar:nth-child(1) {
	margin-top: 0;
	transform: rotate( 45deg );
}

.nav-toggle.active .bar:nth-child(2) {
	opacity: 0;
}

.nav-toggle.active .bar:nth-child(3) {
	margin-top: 0;
	transform: rotate( -45deg );
}

/* Main Menu Alt ----------------------------- */

.main-menu-alt-container {
	display: none;
	margin-left: 6rem;
	padding: 2rem 0;
}

ul.main-menu-alt {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: -1.5rem 0 0 -3rem;
}

.main-menu-alt li {
	font-size: inherit;
	line-height: 1.25;
	position: relative;
}

.main-menu-alt > li {
	margin: 1.5rem 0 0 3rem;
}

.main-menu-alt > li.menu-item-has-children > .link-icon-wrapper {
	align-items: center;
	display: flex;
	white-space: nowrap;
}

.main-menu-alt .link-icon-wrapper svg {
	content: "↓";
	display: block;
	height: .8rem;
	margin-left: 1rem;
	width: 1.3rem;
}

.main-menu-alt a {
	color: inherit;
	display: block;
	line-height: 1;
	text-decoration: none;
}

.main-menu-alt a:hover,
.main-menu-alt li.current-menu-item > a,
.main-menu-alt li.current-menu-item > .link-icon-wrapper > a {
	text-decoration: underline;
}

/* SUB MENU */

.main-menu-alt ul {
	background: currentColor;
	border-radius: .4rem;
	color: #f1f1f3;
	font-size: 1.7rem;
	opacity: 0;
	padding: 1rem 0;
	position: absolute;
		right: 9999rem;
		top: calc( 100% + 2rem );
	transition: opacity .15s linear, transform .15s linear, right 0s .15s;
	transform: translateY( .6rem );
	width: 26rem;
	z-index: 1;
}

.main-menu-alt ul li {
	color: #1A1B1F;
}

.main-menu-alt li:hover > ul,
.main-menu-alt li.focus > ul {
	right: -2rem;
	opacity: 1;
	transform: translateY( 0 );
	transition: opacity .15s linear, transform .15s linear;
}

.main-menu-alt ul:before,
.main-menu-alt ul:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 100%;
}

.main-menu-alt ul:before {
	height: 2rem;
	left: 0;
	right: 0;
}

.main-menu-alt ul:after {
	border: .8rem solid transparent;
	border-bottom-color: currentColor;
	right: 1.8rem;
}

.main-menu-alt ul li + li {
	margin-top: 1rem;
}

.main-menu-alt ul a {
	background-color: transparent;
	border: none;
	display: block;
	line-height: inherit;
	padding: 1rem 2rem;
	transition: background-color .15s linear;
	width: 100%;
}

.main-menu-alt ul li.menu-item-has-children > .link-icon-wrapper > a {
	padding-right: 4.5rem;
}

.main-menu-alt ul li.menu-item-has-children > .link-icon-wrapper svg {
	position: absolute;
		right: 2rem;
		top: 50%;
	transform: translateY( -50% );
}

/* DEEP DOWN */

.main-menu-alt ul ul {
	top: -1rem;
}

.main-menu-alt ul li:hover > ul,
.main-menu-alt ul li.focus > ul {
	right: calc( 100% + 2rem );
}

.main-menu-alt ul ul:before {
	bottom: 0;
	height: auto;
	left: auto;
	right: -2rem;
	top: 0;
	width: 2rem;
}

.main-menu-alt ul ul:after {
	border-bottom-color: transparent;
	border-left-color: currentColor;
	bottom: auto;
	right: -1.6rem;
	top: 2rem;
}

/* CONDITIONAL SUB LEVEL DIRECTION */

.main-menu-alt ul ul.expand-right {
	right: auto;
	left: 99999rem;
}

.main-menu-alt ul li:hover > ul.expand-right,
.main-menu-alt ul li.focus > ul.expand-right {
	left: calc( 100% + 2rem );
}

.main-menu-alt ul ul.expand-right:before {
	right: auto;
	left: -2rem;
}

.main-menu-alt ul ul.expand-right:after {
	border-left-color: transparent;
	border-right-color: currentColor;
	right: auto;
	left: -1.6rem;
}


/* --------------------------------------------------------------------------------
	5.  Modal: Menu
/* --------------------------------------------------------------------------------------------- */


.menu-modal {
	background: #fff;
	display: none;
	opacity: 0;
	overflow: hidden;
	position: fixed;
		bottom: 0;
		left: -99999rem;
		right: 99999rem;
		top: 0;
	transition: opacity .25s ease-in, left 0s .25s, right 0s .25s;
	z-index: 9999;
}

.menu-modal.show-modal {
	display: flex;
}

.menu-modal.active {
	left: 0;
	opacity: 1;
	right: 0;
	transition: opacity .25s ease-out;
}

.menu-modal a {
	color: inherit;
	text-decoration: none;
}

.menu-modal-inner {
	display: flex;
	justify-content: stretch;
	overflow: auto;
	width: 100%;
}

.admin-bar .menu-modal-inner { margin-top: 4.6rem; }

@media ( min-width: 782px ) {
	.admin-bar .menu-modal-inner { margin-top: 3.2rem; }
}

.menu-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

/* Modal: Menu Toggles ----------------------- */

.menu-modal-toggles {
	margin-left: 0;
}

.menu-modal-toggles .toggle {
	justify-content: center;
	height: 8rem;
	width: 100%;
}

.menu-modal-toggles .toggle-text {
	display: block;
}

/* Main Menu --------------------------------- */

.main-menu {
	position: relative;
		left: calc( 50% - 50vw );
	width: 100vw;
}

.main-menu li {
	border-color: #E1E1E3;
	border-style: solid;
	border-width: .1rem 0 0 0;
	display: flex;
	flex-wrap: wrap;
	line-height: 1;
	justify-content: flex-start;
	margin: 0;
}

.main-menu > li:last-child {
	border-bottom-width: .1rem;
}

.main-menu .ancestor-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.main-menu a {
	display: block;
	padding: 2rem;
	width: 100%;
}

.main-menu a:hover,
.main-menu li.current-menu-item > .ancestor-wrapper > a {
	text-decoration: underline;
}

.sub-menu-toggle-wrapper {
	display: flex;
	flex-shrink: 0;
}

a.sub-menu-toggle {
	align-items: center;
	border-style: solid;
	border-width: 0 0 0 .1rem;
	display: flex;
	flex-shrink: 0;
	margin: 1rem 0;
	padding: 0 2rem;
}

a.sub-menu-toggle svg {
	height: .9rem;
	transition: transform .15s linear;
	width: 1.5rem;
}

a.sub-menu-toggle.active svg {
	transform: rotate( 180deg );
}

.main-menu ul {
	margin: 0;
	width: 100%;
}

.main-menu .sub-menu {
	display: none;
}

.main-menu ul li {
	border-left-width: 1rem;
}

/* Menu Bottom ------------------------------- */

.menu-bottom {
	flex-shrink: 0;
	padding: 4rem 0;
}

.menu-copyright {
	display: none;
	font-size: 1.6rem;
	font-weight: 500;
	margin: 0;
}

.menu-copyright a:hover {
	text-decoration: underline;
}

.menu-bottom .social-menu {
	justify-content: center;
}


/* --------------------------------------------------------------------------------
	6.  Content
/* --------------------------------------------------------------------------------------------- */


h1.entry-title,
.entry-title.faux-heading {
	margin: 0;
}

.intro-text {
	margin: 2rem 0 0;
}

.article-inner {
	padding-top: 5rem;
}

.article-header {
    text-align: center;
}

.entry-content {
	line-height: 1.5;
	max-width: 90rem;
	margin: 0 auto;
}

:root .entry-content > *:first-child { margin-top: 0; }
:root .entry-content > *:last-child { margin-bottom: 0; }

.entry-content a:hover {
	text-decoration: underline;
}

/* Font Sizes -------------------------------- */

:root .small-font-size { font-size: .842em; }
:root .regular-font-size,
:root .normal-font-size { font-size: 1em; }
:root .medium-font-size { font-size: 1.1em; }
:root .large-font-size { font-size: 1.25em; }
:root .larger-font-size { font-size: 1.5em; }

/* Alignments -------------------------------- */

.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide,
.alignfull {
	margin: 3rem 0;
}

.alignnone,
.aligncenter,
.alignleft,
.alignright {
	max-width: 100%;
}

.alignfull {
	margin: 5rem 0;
}

.entry-content > .alignfull {
	margin-left: -2rem;
	max-width: 100vw;
	width: 100vw;
}

.alignwide {
	max-width: 112rem;
}

.entry-content > .alignwide {
	max-width: calc( 100vw - 5rem );
	width: calc( 100vw - 5rem );
}

.aligncenter,
.aligncenter img {
	margin-left: auto;
	margin-right: auto;
}

.alignleft:not(.is-resized),
.alignright:not(.is-resized) {
	max-width: 50%;
}

.alignleft {
	float: left;
	margin: .3rem 2rem 2rem 0;
}

.alignright {
	float: right;
	margin: .3rem 0 2rem 2rem;
}

div.varsel {
	border: 1px solid #f1f1f1;
	border-radius: 1rem;
	margin: .5rem 0;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	background-color: floralwhite;
}

div.varsel button,
div.varsel .button {
	padding: 1rem;
	margin-left: auto;
}

/*Advarsler*/
.obs {
	background-color: lightpink;
	padding: 1rem;
	margin-bottom: 1rem;
}

/* --------------------------------------------------------------------------------
	7.  Error 404
/* --------------------------------------------------------------------------------------------- */


.error404 #site-content {
	align-items: center;
	display: flex;
	text-align: center;
}


/* --------------------------------------------------------------------------------
	8.  Site Footer
/* --------------------------------------------------------------------------------------------- */


#site-footer {
	margin-top: 6rem;
}

/* Footer Inner ------------------------------ */

.footer-inner {
	font-size: 1.4rem;
	padding: 0 0 3.5rem 0;
}

.footer-menu {
	margin: 0 0 1.5rem 0;
}

.footer-menu li {
	border-color: #E1E1E3;
	border-style: solid;
	border-width: .1rem 0 0 0;
	line-height: 1.25;
}

.footer-menu li:last-child {
	border-bottom-width: .1rem;
}

.footer-menu a {
	display: block;
	padding: 1.2rem 0;
}

/* Footer Credits ---------------------------- */

.footer-inner a {
	color: inherit;
	text-decoration: none;
}

.footer-inner a:hover {
	text-decoration: underline;
}

.footer-credits {
	font-size: 1.2rem;
}

.footer-copyright,
.om-leiebasen {
	margin: 0;
}

.footer-copyright {
	font-weight: 600;
}

.om-leiebasen {
	white-space: nowrap;
}


/* --------------------------------------------------------------------------------
	9.  Breadcrumbs
/* --------------------------------------------------------------------------------------------- */

.breadcrumbs {
	font-size: 1.4rem;
	padding-bottom: 1rem;
}

.breadcrumbs span {
	margin: 1rem;
	white-space: nowrap;
}

.breadcrumbs .root {
	margin-left: 0;
}

.breadcrumbs .current {

}


/* --------------------------------------------------------------------------------
	100. Media Queries
/* --------------------------------------------------------------------------------------------- */


@media ( min-width: 350px ) {

	/*	202. Element Base ------------------ */

	table td.beløp {
		width: 60px;
	}

	table td.dato {
		width: 11rem;
	}


	/*	203. Helper Classes ------------------ */

	/*	208. Site Footer --------------------- */

	.footer-credits {
		align-items: baseline;
		display: flex;
		justify-content: space-between;
	}

}
@media ( max-width: 349px) {
	.min-width350 {
		display: none;
	}
	th.min-width350,
	td.min-width350 {
		visibility: collapse;
		max-width: 0;
		line-height: 0;
		display: table-cell;
	}
}
@media ( max-width: 449px) {
	.min-width450 {
		display: none;
	}
	th.min-width450,
	td.min-width450 {
		visibility: collapse;
		max-width: 0;
		line-height: 0;
		/*display: table-cell;*/
	}
}
@media ( max-width: 599px) {
	.min-width600 {
		/*display: none;*/
	}
	th.min-width600,
	td.min-width600 {
		visibility: collapse;
		max-width: 0;
		min-width: unset;
		line-height: 0;
		display: table-cell;
	}
}


@media ( min-width: 700px ) {

	body {
		font-size: 1.8rem;
	}

	/*	302. Element Base -------------------- */

	p {
		margin-bottom: 1.22em;
	}

	ul,
	ol {
		margin-bottom: 4rem;
	}

	pre {
		padding: 3rem;
	}

	hr {
		margin: 8rem 0;
	}

	blockquote {
		padding: 0 0 0 2.5rem;
	}

	/* VANILLA GALLERIES */

	.gallery-columns-2 .gallery-item { max-width: 50%; }
	.gallery-columns-3 .gallery-item { max-width: 33.33%; }
	.gallery-columns-4 .gallery-item { max-width: 25%; }
	.gallery-columns-5 .gallery-item { max-width: 20%; }
	.gallery-columns-6 .gallery-item { max-width: 16.66%; }
	.gallery-columns-7 .gallery-item { max-width: 14.28%; }
	.gallery-columns-8 .gallery-item { max-width: 12.5%; }
	.gallery-columns-9 .gallery-item { max-width: 11.11%; }

	/* TITLES */

	h1, .heading-size-1,
	h2, .heading-size-2 {
		margin: 6rem 0 3.5rem;
	}

	h3, .heading-size-3,
	h4, .heading-size-4,
	h5, .heading-size-5,
	h6, .heading-size-6 {
		margin: 4.5rem 0 2.5rem;
	}

	h1, .heading-size-1 { font-size: 4.8rem; }
	h2, .heading-size-2 { font-size: 4.0rem; }
	h3, .heading-size-3 { font-size: 3.2rem; }
	h4, .heading-size-4 { font-size: 2.4rem; }
	h5, .heading-size-5 { font-size: 2.1rem; }

	/* INPUTS */

	fieldset {
		padding: 3rem;
	}

	legend {
		padding: 0 1.5rem;
	}

	/* MEDIA */

	figcaption {
		margin-top: 1.8rem;
	}

	/*	303. Helper Classes ------------------ */

	/* SECTIONS */

	section {
		padding: 8rem 0;
	}

	.section-inner {
		width: calc( 100% - 8rem );
	}

	/* GRID STRUCTURE */

	.grid {
		margin: 0 0 -4rem -2rem;
	}

	.grid + .grid { margin-top: 4rem; }

	.grid .grid-item {
		margin: 0 0 4rem 2rem;
		width: calc( 100% - 2rem );
	}

	.grid.mcols-1 > .grid-item,
	.grid.tcols-1 > .grid-item {
		width: calc( 100% - 2rem );
	}

	.grid.mcols-2 > .grid-item,
	.grid.tcols-2 > .grid-item {
		width: calc( 50% - 2rem );
	}

	.grid-item.col-1 { width: calc( 100% - 2rem ) !important; }
	.grid-item.col-2 { width: calc( 50% - 2rem ) !important; }
	.grid-item.col-3 { width: calc( 33.33% - 2rem ) !important; }
	.grid-item.col-4 { width: calc( 25% - 2rem ) !important; }

	.grid.tcols-1.no-hgutter > .grid-item { width: 100%; }
	.grid.tcols-2.no-hgutter > .grid-item { width: 50%; }

	.grid.match-gutter { margin-bottom: -2rem; }
	.grid.match-gutter + .grid.match-gutter { margin-top: 2rem; }
	.grid.match-gutter .grid-item { margin-bottom: 2rem; }

	/* Header --------------------------- */

	#min-side-header,
	#sentral-header,
	#flyko-header {
		margin-bottom: 3rem;
		padding: 4.5rem 0;
	}

	.header-inner {
		min-height: 9rem;
	}

	.site-title {
		font-size: 3.2rem;
	}

	.site-logo img {
		max-height: 9rem;
		transition: height .15s linear, width .15s linear, max-height .15s linear;
	}

	.header-inner.is-sticky .site-logo img {
		max-height: 7rem;
	}

	.header-toggles {
		margin-right: -2.5rem;
	}

	.header-toggles .toggle {
		height: 9rem;
		padding: 0 2.5rem;
	}

	.header-toggles .toggle-text {
		display: block;
	}

	/*	305. Modal: Menu --------------------- */

	.main-menu {
		left: auto;
		width: 100%;
	}

	.main-menu > li > a,
	.main-menu > li > .ancestor-wrapper > a {
		font-size: 2.4rem;
		padding: 2.5rem 2.5rem 2.5rem 0;
	}

	.main-menu a {
		font-weight: 500;
	}

	.main-menu ul li {
		border-left-width: 0;
	}

	.main-menu ul .ancestor-wrapper > a { padding-left: 2.5rem; }
	.main-menu ul ul .ancestor-wrapper > a { padding-left: 5rem; }
	.main-menu ul ul ul .ancestor-wrapper > a { padding-left: 7.5rem; }
	.main-menu ul ul ul ul .ancestor-wrapper > a { padding-left: 10rem; }

	.main-menu > li > .ancestor-wrapper a.sub-menu-toggle {
		padding: 0 3rem;
	}

	.main-menu > li > .ancestor-wrapper a.sub-menu-toggle svg {
		height: 1.1rem;
		width: 1.8rem;
	}

	.menu-bottom {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 4.4rem 0;
	}

	.menu-copyright {
		display: block;
		flex-shrink: 0;
		margin-right: 4rem;
	}

	.menu-bottom .social-menu {
		justify-content: flex-end;
	}

	/* Modal Search Form --------------------- */

	/* Sub Page ------------------------------ */

	/* FEATURED MEDIA */

	.featured-media figcaption {
		margin: 2rem auto 0 auto;
		width: calc( 100% - 8rem );
	}

	/* Template: Cover Template -------------- */

	/* Post: Archive ------------------------- */

	.archive-header {
		margin-bottom: 8rem;
	}

	/* PREVIEW POST */

	/* Post: Single -------------------------- */

	/* POST HEADER */

	.intro-text {
		font-size: 2rem;
	}

	.article-inner {
		padding-top: 8rem;
	}

	/* Entry Content ------------------------- */

	/* ALIGNMENTS */

	.alignwide,
	.alignfull {
		margin-bottom: 6rem;
		margin-top: 6rem;
	}

	.alignleft {
		margin: .5rem 2.5rem 2.5rem 0;
	}

	.alignright {
		margin: .5rem 0 2.5rem 2.5rem;
	}

	.entry-content > .alignfull {
		margin-left: -4rem;
	}

	.entry-content > .alignwide {
		max-width: calc( 100vw - 8rem );
		width: calc( 100vw - 8rem );
	}

	/* Stacked Background Blocks */

	/* ENTRY MEDIA */

	.alignfull > figcaption {
		width: calc( 100% - 8rem );
	}

	/*	308. Site Footer --------------------- */

	#site-footer {
		margin-top: 8rem;
	}

	/* FOOTER INNER */

	.footer-inner {
		font-size: 1.6rem;
		padding-bottom: 4rem;
	}

	.footer-menu {
		margin-bottom: 4rem;
	}

	.footer-credits {
		font-size: 1.4rem;
	}

}
@media ( max-width: 699px) {
	.min-width700 {
		/*display: none;*/
	}
	th.min-width700,
	td.min-width700 {
		visibility: collapse;
		max-width: 0;
		line-height: 0;
		display: table-cell;
	}
}

@media ( min-width: 782px ) {

	/*	403. Helper Classes ------------------ */
}
@media ( max-width: 781px) {
	.min-width782 {
		display: none;
	}
}

@media ( min-width: 1000px ) {


	/*	501. Document Setup ------------------ */

	#site-content {
		min-height: calc( 100vh - 53.4rem );
	}

	/*	503. Helper Classes ------------------ */

	/* SECTIONS */

	.section-inner {
		width: calc( 100% - 10rem );
	}

	/* GRID STRUCTURE */

	.grid {
		margin: 0 0 -6rem -4rem;
	}

	.grid + .grid { margin-top: 6rem; }

	.grid .grid-item {
		margin: 0 0 6rem 4rem;
		width: calc( 100% - 4rem );
	}

	.grid.match-gutter { margin-bottom: -4rem; }
	.grid.match-gutter + .grid.match-gutter { margin-top: 4rem; }
	.grid.match-gutter .grid-item { margin-bottom: 4rem; }

	.grid.mcols-1 > .grid-item,
	.grid.tcols-1 > .grid-item,
	.grid.tlcols-1 > .grid-item {
		width: calc( 100% - 4rem );
	}

	.grid.mcols-2 > .grid-item,
	.grid.tcols-2 > .grid-item,
	.grid.tlcols-2 > .grid-item {
		width: calc( 50% - 4rem );
	}

	.grid.tlcols-3 > .grid-item { width: calc( 33.33% - 4rem ); }
	.grid.tlcols-4 > .grid-item { width: calc( 25% - 4rem ); }

	.grid-item.col-1 { width: calc( 100% - 4rem ) !important; }
	.grid-item.col-2 { width: calc( 50% - 4rem ) !important; }
	.grid-item.col-3 { width: calc( 33.33% - 4rem ) !important; }
	.grid-item.col-4 { width: calc( 25% - 4rem ) !important; }

	.grid.tlcols-1.no-hgutter > .grid-item { width: 100%; }
	.grid.tlcols-2.no-hgutter > .grid-item { width: 50%; }
	.grid.tlcols-3.no-hgutter > .grid-item { width: 33.33%; }
	.grid.tlcols-4.no-hgutter > .grid-item { width: 25%; }

	/*	504. Site Header --------------------- */

	.header-inner.is-sticky,
	.showing-menu-modal .header-inner.is-sticky {
		box-shadow: 0 0 1rem rgba( 0, 0, 0, 0.10 );
	}

	.header-titles {
		flex-shrink: 0;
	}

	.site-description {
		display: block;
	}

	.no-js .main-menu-alt-container,
	.disable-menu-modal-on-desktop .main-menu-alt-container {
		display: block !important;
	}

	/*	505. Modal: Menu --------------------- */

	.menu-modal {
		background: rgba( 0, 0, 0, .0 );
		opacity: 1;
		justify-content: flex-end;
		transition: background-color .3s ease-in, left 0s .3s, right 0s .3s;
	}

	.menu-modal.active {
		background: rgba( 0, 0, 0, .2 );
		transition: background-color .3s ease-out;
	}

	.menu-wrapper.section-inner {
		width: calc( 100% - 12rem );
	}

	.menu-modal-inner {
		box-shadow: 0 0 2rem 0 rgba( 0, 0, 0, .1 );
		min-width: 64rem;
		opacity: 0;
		transform: translateX( 20rem );
		transition: transform .2s ease-in, opacity .2s ease-in;
		width: 50%;
	}

	.menu-modal.active .menu-modal-inner {
		opacity: 1;
		transform: translateX( 0 );
		transition-timing-function: ease-out;
	}

	.menu-modal-toggles .toggle {
		justify-content: flex-end;
	}

	.menu-bottom {
		padding: 6rem 0;
	}

	/* Sub Page ------------------------------ */

	/* FEATURED MEDIA */

	.featured-media figcaption {
		width: 100%;
	}

	/* Template: [Template Name] ------------- */
	/* Post: Archive ------------------------- */

	/* COLUMN SPECIFIC */

	/* Post: Single -------------------------- */

	/* RELATED POSTS */

	/* Blocks -------------------------------- */

	/* BLOCK: COLUMNS */

	/* BLOCK: COVER */

	/* BLOCK: GALLERY */

	/* BLOCK: LATEST POSTS */

	/* BLOCK: SEPARATOR */

	/* COBLOCK: FEATURES */

	/*	506. Content ------------------------- */

	/* ALIGNMENTS */

	.alignwide,
	.alignfull {
		margin-bottom: 8rem;
		margin-top: 8rem;
	}

	.entry-content > .alignfull {
		margin-left: -5rem;
	}

	.entry-content > .alignwide {
		max-width: calc( 100vw - 10rem );
		width: calc( 100vw - 10rem );
	}

	/* Stacked Background Blocks */

	/* ENTRY MEDIA */

	.alignfull > figcaption {
		width: calc( 100% - 10rem );
	}

	/*	508. Site Footer --------------------- */

	.footer-inner {
		font-size: 1.6rem;
		padding: 8rem 0;
	}

	.footer-menu {
		align-items: baseline;
		border: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin: -1rem -2.5rem 0 2rem;
	}

	.footer-menu li {
		border: none;
		margin: 1rem 2.5rem 0 0;
	}

	.footer-menu a {
		padding: 0;
	}

	.footer-credits {
		flex-shrink: 0;
		font-size: inherit;
		justify-content: flex-start;
	}

	.footer-copyright {
		font-weight: 500;
		margin-right: 2.5rem;
	}

}
@media ( max-width: 999px) {
	.min-width1000 {
		display: none;
	}
}

@media ( min-width: 1180px ) {

	/*	603. Helper Classes ------------------ */

}
@media ( max-width: 1179px) {
	.min-width1180 {
		display: none;
	}
}


@media ( min-width: 1220px ) {

	/*	703. Helper Classes ------------------ */

	/* GRID STRUCTURE */

	.grid.dcols-2 > .grid-item { width: calc( 50% - 4rem ); }
	.grid.dcols-3 > .grid-item { width: calc( 33.33% - 4rem ); }
	.grid.dcols-4 > .grid-item { width: calc( 25% - 4rem ); }

	.grid.dcols-2.no-hgutter > .grid-item { width: 50%; }
	.grid.dcols-3.no-hgutter > .grid-item { width: 33.33%; }
	.grid.dcols-4.no-hgutter > .grid-item { width: 25%; }

	/*	704. Site Header --------------------- */
	/* MAIN MENU */

	.menu-wrapper.section-inner {
		width: calc( 100% - 16rem );
	}

	/*	705. Modal: Menu --------------------- */

	.menu-modal-inner .section-inner {
		margin: 0 0 0 8rem;
		max-width: 64rem;
	}

	/*	706. Content ------------------------- */
	/* ALIGNMENTS */

	.alignfull {
		margin-bottom: 10rem;
		margin-top: 10rem;
	}

	.entry-content > .alignwide {
		max-width: 112rem;
		width: 112rem;
	}
}
@media ( max-width: 1219px) {
	.min-width1220 {
		display: none;
	}
}


@media ( min-width: 1300px ) {

	/*	803. Helper Classes ------------------ */

	/*	806. Content ------------------------- */

	.entry-content {
		font-size: 1.9rem;
	}

}
@media ( max-width: 1299px) {
	.min-width1300 {
		display: none;
	}
}



			/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
			*/
@media
only screen and (max-width: 349px) {

	/* Force table to not be like tables anymore */
	table, caption, thead, tbody, tfoot, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	span.kolonnelabel {
		display: inline;
		float: left;
		text-align: left;
		font-weight: 700;
		padding-right: 10px;
	}
	span.kolonnelabel::after {
		content: ":";
	}

	dl {
		display: block;
	}

}
